[Desktop Entry]
Version=1.0
Type=Application
Name=SDR Radio
Comment=RTL-SDR + Internet radio player
Exec=%h/SDR-Tools/sdr-control
Icon=audio-headphones
Terminal=false
Categories=AudioVideo;Audio;Player;
StartupWMClass=sdr-control-ui
